@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap");
@import "tailwindcss";

/* ==========================
   Reset
========================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  color: #18181b;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

#root {
  min-height: 100vh;
  width: 100%;
}

/* ==========================
   Responsive Media
========================== */

picture,
video,
canvas {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
button,
input,
select,
textarea {
  font: inherit;
}

table {
  width: 100%;
  border-collapse: collapse;
}

/* ==========================
   Scrollbar
========================== */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a3a3a3;
}

input[type="number"] {
  appearance: auto;
  -webkit-appearance: auto;
  -moz-appearance: number-input;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: auto;
  -webkit-appearance: inner-spin-button;
  opacity: 1;
}
/* ==========================
   Breakpoints
========================== */

/* Mobile */
@media (max-width: 639px) {
  html {
    font-size: 15px;
  }
}

/* Tablet */
@media (min-width: 640px) and (max-width: 1023px) {
  html {
    font-size: 16px;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}